/*
Color Scheme
--yale-blue: #1b3d6dff;
--persian-red: #d72131ff;
--powder-blue: #99b2ddff;
--saffron: #e9c46aff;
--beige: #efeccaff;

Fonts
Roboto Slab (Headings)
Avenir (Body)
*/

body {
  font-family: Avenir, sans-serif;

}

h2 {
    font-family: "Roboto Slab", serif; 
    color: #1b3d6dff;
    
  }
  

  
  #carousel {
    border-style: dashed;
    text-align: center;
    margin-bottom: 10px;
  }
  
  #american_legion_family {
    border-style: dashed;
    text-align: center;
    float: center;
  }
  
  #upcoming_events {
    float: left;
    margin: 2% 10px 10px 20%;
    border-style: dashed;
    position: absolute;
    background-color: #efeccaff;
  }
  
  #latest_news {
    float: left;
    margin: 2% 10px 10px 70%;
    border-style: dashed;
    background-color: #efeccaff;
  
  }
  
  #veterans_memorial {
    border-style: dashed;
    float: center;
    text-align: center;
    margin: 30% 30% 10px 30%;
  
  }
  
  .header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }